<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net452" />
  <package id="FluentMigrator" version="3.3.1" targetFramework="net472" />
  <package id="FluentMigrator.Abstractions" version="3.3.1" targetFramework="net472" />
  <package id="FluentNHibernate" version="2.0.3.0" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net452" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.1.0" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="2.1.0" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.16" targetFramework="net452" />
  <package id="NHibernate" version="4.0.0.4000" targetFramework="net452" />
  <package id="Standard.Licensing" version="1.1.5" targetFramework="net452" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
</packages>